@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var className = Model.Count() > 5 ? "popular" : null;
}

<h2 class="@className">Customers</h2>
@if (Model.Count() == 0)
{
    <text>No one has rented this movie before.</text>
}
else
{
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Customer</th>
                <th scope="col">Discount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr scope="row">
                    <td>@Html.ActionLink(@customer.Name, "Details", new { id = customer.Id })</td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
